streamlit
langdetect
gTTS
moviepy
imageio[ffmpeg]
numpy
scipy
torch
torchvision
matplotlib
opencv-python
numba
audioread
pillow
tqdm
dlib
face-recognition
scikit-image
scikit-learn
python_speech_features
future
